@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'BBH Sans Bogle', serif;
    --font-tertiary: 'Montserrat', sans-serif;
  }

  h1{
    font-family: var(--font-primary);
  }
  h2{
    font-family: var(--font-secondary);
  }
  p{
    font-family: var(--font-tertiary);
  }